@import url('https://fonts.googleapis.com/css2?family=Acme&family=Madimi+One&family=Poetsen+One&family=Protest+Riot&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Protest Riot', sans-serif;
  padding: 0;
  margin: 0;
}

.bg-div {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-image: url('./assets/main-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  z-index: -1;
}

.heart-icon-bg {
  background: linear-gradient(70deg, #8a2be2, #ff69b4);
}
